.jumbotron {
    padding-top: 60px;
    width: 100%;
    background-image: url(/assets/landfilter.jpg);
    background-size: cover;
}
#mycarousel {
    width:100%;

}

#myabout {
    text-align: left;

}

#myjumbo {
    text-align: center;
    color: coral;
}
#mycontainer {
    align-content: center;
}

#mypic2 {
    max-width: 50%;

